* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }
  *:after, *:before {
    box-sizing: border-box; }
  *:focus {
    outline: none; }

a {
  text-decoration: none; }

textarea {
  resize: none; }

input, textarea {
  -webkit-appearance: none !important;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
  font-family: "Open Sans", Arial, sans-serif !important; }

input:focus, textarea:focus {
  outline: none; }

html, body {
  width: 100%;
  font-family: "Helvetica", Arial, sans-serif;
  min-width: 320px;
  overflow-x: hidden; }

html.not_selectable_text * {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

body.not_selectable_text * {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

table {
  cellspacing: 0 !important;
  border-spacing: 0 !important; }

@font-face {
  font-family: 'OpenSans';
  src: url("../media/fonts/OpenSans/opensans-regular-webfont.eot");
  src: url("../media/fonts/OpenSans/opensans-regular-webfont.woff") format("woff");
  src: url("../media/fonts/OpenSans/opensans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-size: 0;
  -webkit-box-align: center;
          align-items: center;
  text-align: left; }

.icon_hidden {
  height: 0;
  overflow: hidden; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.m_width,
.m_width_wide {
  width: calc(100% - 134px);
  margin: 0 auto;
  position: relative; }

.m_width {
  max-width: 1002px;
  overflow: hidden; }

.vertical_align {
  display: table-cell;
  text-align: left;
  vertical-align: middle; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.l_blink {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  background: url("../img/fortify_bitmap.png") no-repeat, linear-gradient(to bottom, #3D4346 5%, #282E32 95%);
  background-size: cover;
  background-blend-mode: overlay;
  -webkit-animation: fadeIn 10s 0s linear infinite forwards;
          animation: fadeIn 10s 0s linear infinite forwards; }

.l_section {
  width: 100%;
  position: relative; }
  .l_section.m_main {
    padding: 40px 0 calc(73px + 37.5vw);
    background: linear-gradient(to bottom, #3D4346 5%, #282E32 95%); }
  .l_section.m_secondary {
    padding: calc(74px + 25vw) 0 110px;
    background: rgba(40, 46, 50, 0.02); }
  .l_section.m_third {
    padding: 106px 0 168px;
    background: #fff;
    border-top: 1px solid rgba(151, 151, 151, 0.1); }

.l_footer {
  width: 100%;
  background: #282E32;
  padding: 86px 0; }

.b_header * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.b_header .app_logo {
  display: inline-block;
  transition: opacity 0.3s; }
  .b_header .app_logo:hover {
    opacity: .7; }

.b_header .logo {
  width: 28px;
  height: 35px;
  vertical-align: middle; }

.b_header .app_name {
  font-size: 17px;
  color: #fff;
  letter-spacing: 0.3px;
  font-weight: 600;
  vertical-align: middle;
  margin-left: 16px; }

.b_header .app_menu {
  float: right;
  height: 35px;
  line-height: 35px; }

.b_header .app_menu_item {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.34px;
  margin-right: 40px;
  transition: color 0.3s;
  display: inline-block; }
  .b_header .app_menu_item.m_hidden {
    display: none; }
  .b_header .app_menu_item:hover {
    color: rgba(255, 255, 255, 0.9); }
  .b_header .app_menu_item:last-child {
    margin-right: 0; }

.b_main {
  margin-top: 125px; }
  .b_main .title {
    font-size: 34px;
    color: #fff;
    letter-spacing: 0.3px;
    line-height: 44px;
    max-width: 710px; }
  .b_main .description {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.52);
    letter-spacing: 0.42px;
    line-height: 18px;
    margin-top: 18px; }
  .b_main .btn_download {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    margin-top: 40px;
    border-radius: 2px;
    width: 125px;
    text-align: center;
    padding: 8px 15px 10px;
    background: linear-gradient(to bottom, #4DA3FC, #027EFF);
    font-size: 13px;
    letter-spacing: 0.45px;
    line-height: 18px;
    color: #fff;
    transition: opacity 0.3s; }
    .b_main .btn_download:hover {
      opacity: .7; }

.b_what_it_do .title {
  font-size: 28px;
  color: #282E32;
  letter-spacing: 0.09px;
  line-height: 43px; }

.b_what_it_do .name {
  color: #0097FC; }

.b_what_it_do .section {
  width: calc((100% - 41px) / 3);
  display: inline-block;
  vertical-align: top;
  margin: 49px 20px 0 0; }
  .b_what_it_do .section:last-child {
    margin-right: 0; }

.b_what_it_do .illustration {
  display: block;
  width: 100%;
  border: 1px solid #EAEEF1;
  border-radius: 5px;
  background: rgba(216, 216, 216, 0.2); }

.b_what_it_do .description {
  width: calc(100% - 20px);
  margin-top: 42px;
  font-size: 15px;
  color: #3B4044;
  letter-spacing: 0.2px;
  line-height: 25px; }

.b_download_app .title {
  font-size: 28px;
  color: #282E32;
  letter-spacing: 0.09px;
  line-height: 43px;
  text-align: left; }

.b_download_app .button {
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: calc(50% - 10px);
  margin-top: 63px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid rgba(151, 151, 151, 0.2);
  padding: 23px 30px 27px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s; }
  .b_download_app .button:nth-child(3) {
    margin-right: 0 !important; }
  .b_download_app .button:hover {
    background: rgba(0, 151, 252, 0.028); }

.b_download_app .icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle; }

.b_download_app .info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px; }

.b_download_app .os_name {
  font-size: 18px;
  color: #282E32;
  letter-spacing: 0.25px;
  line-height: 25px; }

.b_download_app .os_version {
  font-size: 13px;
  color: rgba(40, 46, 50, 0.52);
  letter-spacing: 0.45px; }

.b_download_app .m_full_width {
  width: 100%; }

.b_download_app .m_margin {
  margin-top: 20px; }

.b_questions {
  margin-top: 145px; }
  .b_questions.m_hidden {
    display: none; }
  .b_questions .title {
    font-size: 28px;
    color: #282E32;
    letter-spacing: 0.09px;
    line-height: 43px; }
  .b_questions .table {
    margin-top: 95px; }
  .b_questions .cell {
    font-size: 15px;
    color: #3B4044;
    letter-spacing: 0.2px;
    line-height: 25px;
    vertical-align: top;
    border-bottom: 1px solid rgba(151, 151, 151, 0.1);
    padding: 44px; }
    .b_questions .cell.m_question {
      font-size: 18px;
      color: #282E32;
      letter-spacing: 0.25px;
      width: 40%; }
  .b_questions .row:last-child .cell {
    border-bottom: none; }
  .b_questions .table_container {
    margin-top: 20px;
    overflow: hidden; }
    .b_questions .table_container.m_hidden {
      height: 0; }
  .b_questions .cards_table {
    width: 100%;
    border-collapse: collapse;
    vertical-align: middle; }
  .b_questions .cards_cell {
    border: 1px solid rgba(151, 151, 151, 0.2);
    border-radius: 5px;
    padding: 10px 15px;
    line-height: 29px;
    font-size: 15px;
    color: #3B4044;
    letter-spacing: 0.2px;
    vertical-align: middle; }
    .b_questions .cards_cell.m_head {
      font-weight: 600;
      color: #282E32;
      white-space: nowrap;
      text-align: center; }
    .b_questions .cards_cell.m_status {
      text-align: center;
      padding: 0 20px;
      line-height: 0px;
      width: 105px; }
    .b_questions .cards_cell .icon_ok {
      width: 20px;
      height: 15px; }
    .b_questions .cards_cell .icon_x {
      width: 15px;
      height: 15px; }
  .b_questions .toggle_button {
    color: #0097FC;
    font-size: 15px;
    letter-spacing: 0.2px;
    cursor: pointer;
    vertical-align: middle;
    margin-top: 25px;
    transition: color 0.3s; }
    .b_questions .toggle_button:hover {
      color: rgba(0, 151, 252, 0.7); }
      .b_questions .toggle_button:hover .toggle_arrow {
        fill: rgba(0, 151, 252, 0.7); }
    .b_questions .toggle_button.m_hide .toggle_arrow {
      -webkit-transform: scaleY(-1) translateY(2px);
              transform: scaleY(-1) translateY(2px); }
  .b_questions .toggle_arrow {
    transition: fill 0.3s;
    vertical-align: middle;
    width: 7px;
    fill: #0097FC;
    margin-left: 3px; }

.b_footer .info {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%; }

.b_footer .copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.34px; }

.b_footer .terms {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 13px;
  letter-spacing: 0.29px; }

.b_footer .nav {
  margin-top: 47px;
  position: relative; }

.b_footer .nav_item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 0.29px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 28px;
  transition: color 0.3s;
  display: inline-block; }
  .b_footer .nav_item:hover {
    color: rgba(255, 255, 255, 0.9); }
  .b_footer .nav_item:last-child {
    margin-right: 0; }

.b_footer .open_source_icon {
  position: absolute;
  width: 55px;
  height: 77px;
  background: url("../img/open_source_badge.png") no-repeat, #282E32;
  background-size: contain;
  right: 0;
  top: 0; }

.b_footer .lock {
  position: absolute;
  width: 38px;
  height: 54px;
  background: url("../img/lock.png") no-repeat, #282E32;
  background-size: contain;
  right: 75px;
  top: 5px; }

.b_slider {
  width: calc(100% - 134px);
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 1040px;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%); }
  .b_slider .pagination {
    margin-top: 31px;
    height: 10px;
    text-align: center;
    overflow: hidden; }
  .b_slider .swiper-wrapper {
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    cursor: pointer; }
  .b_slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 10px !important;
    background: #D8D8D8; }
    .b_slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: #0097FC; }

.m_hidden {
  display: none !important; }

.show_btns {
  margin-top: 20px;
  padding: 5px 15px;
  display: block;
  font-size: 15px; }
  .show_btns:hover {
    cursor: pointer; }

@media (min-width: 1174px) {
  .l_section.m_main {
    padding: 40px 0 514px; }
  .l_section.m_secondary {
    padding-top: 368px; } }

@media (min-width: 800px) {
  l_section.m_main {
    padding: 40px 0 418px; }
  l_section.m_secondary {
    padding: 350px 0 74px; } }

@media (max-width: 1024px) {
  .m_width {
    width: calc(100% - 184px); }
  .m_width_wide {
    width: calc(100% - 82px); }
  .l_section.m_third {
    padding: 103px 0 43px; }
  .b_what_it_do .title {
    font-weight: normal; }
  .b_what_it_do .description {
    margin-top: 28px; }
  .b_download_app .button {
    padding: 15px 9px; }
  .b_download_app .icon {
    height: 42px;
    width: 42px; }
  .b_download_app .info {
    margin-left: 8px; }
  .b_download_app .title {
    font-weight: normal; }
  .b_questions {
    margin-top: 103px; }
    .b_questions .table {
      margin-top: 75px; }
    .b_questions .row:first-child .cell {
      padding-top: 0; }
    .b_questions .cell {
      padding: 44px 5px; }
    .b_questions .table_container {
      margin-top: 32px; }
      .b_questions .table_container .cards_table {
        display: block;
        border: 1px solid rgba(151, 151, 151, 0.2);
        border-radius: 5px; }
    .b_questions .cards_cell {
      font-size: 12px;
      padding: 11px;
      line-height: 18px;
      border: none;
      border-bottom: 1px solid rgba(151, 151, 151, 0.2); }
      .b_questions .cards_cell:nth-child(2) {
        border-right: 1px solid rgba(151, 151, 151, 0.2); }
      .b_questions .cards_cell.m_head {
        font-weight: normal;
        font-size: 15px; }
        .b_questions .cards_cell.m_head:first-child {
          width: 70%;
          text-align: left; }
    .b_questions .toggle_button {
      margin-top: 14px; }
  .b_footer {
    position: relative; }
    .b_footer .info {
      margin-top: 9px; }
    .b_footer .nav {
      margin-top: 104px; }
    .b_footer .terms {
      margin-top: 11px; }
    .b_footer .open_source_icon {
      background-position: 50%;
      position: absolute;
      top: 0; }
    .b_footer .lock {
      top: 10px; }
  .l_footer {
    padding: 67px 0 55px;
    position: relative; } }

@media (max-width: 800px) {
  .b_header .logo {
    height: 29px;
    width: 23px; }
  .b_header .app_name {
    font-size: 15px;
    margin-left: 9px; }
  .b_header .app_menu_item {
    margin-right: 15px;
    font-size: 14px; }
  .b_header .app_menu {
    line-height: 18px;
    min-height: 14px;
    float: none;
    display: block;
    margin-top: 18px;
    width: 100%; }
  .b_main {
    margin-top: 68px; }
    .b_main .title {
      font-size: 20px;
      line-height: 30px; }
    .b_main .btn_download {
      margin-top: 46px; }
  .b_what_it_do .title {
    font-size: 18px;
    padding-left: 5px;
    font-weight: normal;
    margin-bottom: 17px; }
  .b_what_it_do .section {
    margin: 0 0 34px;
    display: block;
    width: 100%; }
    .b_what_it_do .section:last-child {
      margin-bottom: 0; }
  .b_what_it_do .description {
    line-height: 24px;
    margin-top: 14px; }
  .b_download_app .title {
    font-size: 20px;
    padding-left: 5px;
    font-weight: normal; }
  .b_download_app .os_name {
    font-size: 15px; }
  .b_download_app .os_version {
    font-size: 12px; }
  .b_download_app .button {
    width: 100%;
    padding: 25px;
    margin-top: 18px; }
    .b_download_app .button:last-child {
      margin-top: 10px; }
  .b_download_app .icon {
    height: 42px;
    width: 42px; }
  .b_questions {
    margin-top: 38px; }
    .b_questions .title {
      font-size: 20px;
      font-weight: normal;
      padding-left: 8px; }
    .b_questions .cell,
    .b_questions .row {
      width: 100% !important;
      display: block; }
    .b_questions .table {
      margin-top: -13px; }
      .b_questions .table .cell {
        padding: 0 0  30px;
        color: rgba(40, 46, 50, 0.7); }
        .b_questions .table .cell.m_question {
          border-bottom: none;
          padding: 30px 0 16px;
          color: #282e32; }
    .b_questions .table_container {
      margin-top: 30px; }
      .b_questions .table_container .cards_table {
        border: 1px solid rgba(151, 151, 151, 0.2);
        border-radius: 5px; }
    .b_questions .cards_cell {
      font-size: 12px;
      padding: 11px;
      line-height: 18px;
      width: 15%; }
      .b_questions .cards_cell:first-child {
        width: 70%;
        border-right: none; }
      .b_questions .cards_cell.m_status {
        padding: 0;
        border-left: none; }
      .b_questions .cards_cell .icon_ok {
        width: 16px;
        height: 13px; }
      .b_questions .cards_cell .icon_x {
        height: 13px;
        width: 13px; }
      .b_questions .cards_cell.m_head {
        font-weight: normal;
        font-size: 15px;
        padding: 0; }
        .b_questions .cards_cell.m_head:nth-child(2) {
          border-left: none; }
        .b_questions .cards_cell.m_head:first-child {
          width: 72%;
          padding: 11px 10px;
          text-align: left;
          border-right: none; }
    .b_questions .toggle_button {
      margin-top: 14px; }
  .m_width,
  .m_width_wide {
    width: calc(100% - 56px); }
  .l_section.m_main {
    padding: 27px 0 82px; }
  .l_section.m_secondary {
    padding: 38px 0 42px; }
  .l_section.m_third {
    padding: 38px 0 43px; }
  .l_footer {
    padding: 48px 0 54px;
    position: relative; }
  .b_footer .nav {
    margin-top: 43px; }
  .b_footer .terms {
    margin-top: 13px; }
  .b_footer .description {
    width: 50%; }
  .b_footer .info {
    display: block;
    width: 100%; }
  .b_footer .nav_item {
    display: block;
    margin-bottom: 11px; }
    .b_footer .nav_item:last-child {
      margin-bottom: 0; }
  .b_footer .open_source_icon {
    vertical-align: bottom;
    height: 61px;
    width: 43px;
    position: absolute;
    top: auto;
    bottom: 39px;
    right: 0; }
  .b_footer .lock {
    height: 43px;
    width: 30px;
    top: auto;
    bottom: 48px;
    right: 63px; }
  .b_slider {
    display: none;
    overflow: hidden; } }

@media (max-width: 350px) {
  .b_download_app .icon {
    height: 36px;
    width: 36px; }
  .b_download_app .os_name {
    font-size: 13px;
    line-height: 16px; }
  .b_download_app .os_version {
    font-size: 12px;
    line-height: 16px; }
  .b_download_app .button {
    padding: 20px 18px; }
    .b_download_app .button .info {
      margin-left: 12px; }
  .m_width,
  .m_width_wide {
    width: calc(100% - 54px); }
  .b_main {
    margin-top: 65px; }
    .b_main .title {
      letter-spacing: 0; }
  .b_questions .cell {
    letter-spacing: -0.2px; }
  .b_questions .table {
    margin-top: 17px; }
    .b_questions .table .row:first-child .cell {
      padding-top: 0; }
  .b_questions .cards_cell {
    padding: 7px;
    letter-spacing: 0; }
  .b_footer .nav {
    margin-top: 43px; }
  .b_footer .terms {
    margin-top: 9px; }
  .b_footer .lock {
    top: 110px; }
  .b_footer .open_source_icon {
    top: 100px; } }
